<!doctype html>
<html>
  <head>
    <%= partial 'layouts/meta_tags' %>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial 'layouts/modal_student' %>

    <%= javascript_include_tag  "all" %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </body>
</html>
